<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TableMapper">

    <!-- 常用标签 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.paltform.Tables">
        <id column="id"                 jdbcType="BIGINT"       property="id"/>
        <result column="database_name"  jdbcType="VARCHAR"      property="databaseName"/>
        <result column="table_name"     jdbcType="VARCHAR"      property="tableName"/>
        <result column="table_desc"     jdbcType="VARCHAR"      property="tableDesc"/>
        <result column="dept"           jdbcType="VARCHAR"      property="dept"/>
        <result column="create_time"    jdbcType="VARCHAR"      property="createTime"/>
        <result column="update_time"    jdbcType="VARCHAR"      property="updateTime"/>
        <result column="storage_size"   jdbcType="DOUBLE"       property="storageSize"/>
        <result column="cate"           jdbcType="INTEGER"      property="cate"/>
        <result column="administrator"  jdbcType="VARCHAR"      property="administrator"/>
        <result column="is_deleted"     jdbcType="INTEGER"      property="isDeleted"/>
        <result column="table_type"     jdbcType="VARCHAR"      property="tableType"/>
        <result column="aging"          jdbcType="VARCHAR"           property="aging"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, database_name, table_name, table_desc, dept, create_time,  update_time, storage_size, is_deleted, cate, administrator,aging
    </sql>

    <update id="openTableById">
        update dsmp_all_tables
        <set>
            is_deleted = #{isDeleted,jdbcType=INTEGER},
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="closeTableById">
        update dsmp_all_tables
        <set>
            is_cancel = 0,
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="batchUpdateById">
        update dsmp_all_tables
        <set>
            is_deleted = #{status,jdbcType=INTEGER},
        </set>
        <if test="ids != null and ids.length > 0"> where id in
            <foreach item="item" collection="ids" open="(" separator="," close=")" index="index">
                #{item}
            </foreach>
        </if>
    </update>

    <!-- 获取全部数据表 -->
    <select id="getList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from dsmp_all_tables
        <if test="searchConditions!=null">
            <where>
                <if test="searchConditions.keyWords!=null and searchConditions.keyWords!=''">
                    and table_name like CONCAT('%',#{searchConditions.keyWords},'%')
                    or table_desc like CONCAT('%',#{searchConditions.keyWords},'%')
                </if>
                <if test="searchConditions.group!=null and searchConditions.group!=''">
                    and dept = #{searchConditions.group}
                </if>
                <if test="searchConditions.cate!=null and searchConditions.cate!=''">
                    and cate = #{searchConditions.cate}
                </if>
            </where>
        </if>
        LIMIT #{objectMap.start},#{objectMap.limit}
    </select>

    <select id="selectListByKeyWords" parameterType="Map" resultType="com.ruoyi.system.domain.paltform.Tables">
        SELECT <include refid="Base_Column_List"/>
        FROM dsmp_all_tables
        <where>
            <if test="keyWords!=null and keyWords!=''">
                and table_name LIKE CONCAT('%', #{keyWords}, '%')
                OR table_desc LIKE CONCAT('%', #{keyWords}, '%')
            </if>
            <if test="cate!=null and cate!=''and cate!=1000">
                and cate = #{cate}
            </if>
            <if test="administrator!=null and administrator!=''">
                and administrator = #{administrator}
            </if>
        </where>
        ORDER BY LENGTH(substring_index(table_desc, #{keyWords}, 1)),
                 LENGTH(table_desc)
                <if test='updateTime=="asc"'>
                    , update_time asc
                </if>
                <if test='updateTime=="desc"'>
                    , update_time desc
                </if>
                <if test='createTime=="asc"'>
                    , create_time asc
                </if>
                <if test='createTime=="desc"'>
                    , create_time desc
                </if>
    </select>

    <select id="getListByOrder" parameterType="Map" resultType="com.ruoyi.system.domain.paltform.Tables">
        SELECT <include refid="Base_Column_List"/>
        FROM dsmp_all_tables
        <where>
            <if test="keyWords!=null and keyWords!=''">
                and table_name LIKE CONCAT('%', #{keyWords}, '%')
                OR table_desc LIKE CONCAT('%', #{keyWords}, '%')
            </if>
            <if test="cate!=null and cate!=''and cate!=1000">
                and cate = #{cate}
            </if>
            <if test="administrator!=null and administrator!=''">
                and administrator = #{administrator}
            </if>
        </where>
        ORDER BY
        <if test="updateTime=='desc'">
            update_time desc,
        </if>
        <if test="updateTime=='asc'">
            update_time asc,
        </if>
        <if test="createTime=='desc'">
            create_time desc,
        </if>
        <if test="createTime=='asc'">
            create_time asc,
        </if>
        LENGTH(substring_index(table_desc, #{keyWords}, 1)),
        LENGTH(table_desc)
    </select>

    <select id="getListByCates" resultType="com.ruoyi.system.domain.paltform.Tables">
        SELECT <include refid="Base_Column_List"/>
        FROM dsmp_all_tables
        WHERE is_deleted = 0
        <if test="cateIds != null and cateIds.size() > 0"> and cate in
            <foreach item="item" collection="cateIds" open="(" separator="," close=")" index="index">
                #{item}
            </foreach>
        </if>
    </select>


    <select id="getTotal" resultType="java.lang.Integer">
        select count(*) from dsmp_all_tables
        where cate = #{cateId}
    </select>


</mapper>
